$body-width: 100vw;
$body-height:100vh;



$mainSectionColorGelb:#E7BC0E;
$mainSectionColorGrün:#6BC1A3;
$mainSectionColorWeis:#FFFFFF;
$mainSectionColorPink:#CB91B6;
$mainSectionColorBlau:#7EB8E1;
$mainBgColor: #333333c0;


$padding-start: 0;
$margin-start: 0;
$bx-sizing: border-box;

$main-h1Size: 48px;
$main-h2Size: 64px;
$defaultFontSize: 16px;

$main-padding: 10%;
$main-margin-bottom: 10%;

$text-transform: uppercase;