@use "_variables" as variables;
@use "_fonts" as fonts;
@use "_mixin" as mixin;

//Global

* {
    padding: variables.$padding-start;
    margin: variables.$margin-start;
    box-sizing: variables.$bx-sizing;
    font-size: variables.$defaultFontSize;

}

body {
    background-image: url(../img/cleo-topper.jpg);
    @include mixin.backgroundImg(100%,100%);
    background-attachment: fixed;
}

header {
    @include mixin.flexRow;
    gap: 10px;
    padding: 10px;
    img {
        @include mixin.imgSize(1%,1%);
    }
}

main {
    .hero {
        padding: variables.$main-padding;
        h1{
            font-size: variables.$main-h1Size;
            color: variables.$mainSectionColorWeis;
            font-family: fonts.$fontInterBold;
            width: 150px;
            text-transform: variables.$text-transform;
            margin-bottom: 5%;
        }
        p {
            color: variables.$mainSectionColorGelb;
            font-size: variables.$defaultFontSize;
            font-family: fonts.$fontMrDafoe;
            margin-bottom: variables.$main-margin-bottom;
        }
    }
    .sectionOne {
         padding: variables.$main-padding;
        .storyOne {
            font-size: 24px;
            margin-bottom: variables.$main-margin-bottom;
            p{
                color: variables.$mainSectionColorGrün;
                padding: variables.$main-padding;
                width: 40vw;

                .span1{
                    color: variables.$mainSectionColorWeis;
                    background-color: variables.$mainBgColor;
                }
            }

        }
        .workers {
            margin-left: 30vw;
            @include mixin.flexColumn;
            text-transform: variables.$text-transform;
            margin-bottom: 30%;
            img {
                @include mixin.imgSize(7%,7%);
                padding: 5px 0;
            }
            h2 {
                font-size: variables.$main-h2Size;
                color: variables.$mainSectionColorGelb;
                width: 20vw;
                font-family: fonts.$fontSantio;
                padding: 5px 0;
            }
            p {
                color: variables.$mainSectionColorGelb;
                width: 25vw;
                padding: 5px 0;
                span {
                    color: variables.$mainSectionColorWeis;
                    background-color: variables.$mainBgColor;
                }
            }
        }
        .pay {
            margin-left: 30vw;
            @include mixin.flexColumn;
            text-transform: variables.$text-transform;
            margin-bottom: 30%;
            img {
                @include mixin.imgSize(7%,7%);
                padding: 5px 0;
            }
            p {
                padding: 5px 0;
                color: variables.$mainSectionColorPink;
                span {
                    color: variables.$mainSectionColorWeis;
                    background-color: variables.$mainBgColor;
                }
            }
            h2 {
                font-size: variables.$main-h1Size;
                color: variables.$mainSectionColorPink;
                padding: 5px 0;
            }
        }
        .health {
            margin-left: 30vw;
            @include mixin.flexColumn;
            text-transform: variables.$text-transform;
            margin-bottom: 30%;
            font-family: fonts.$fontSantio;
            img {
                @include mixin.imgSize(7%,7%);
                padding: 5px 0;
            }
            p {
                padding: 5px 0;
                color: variables.$mainSectionColorGrün;
                span {
                    color: variables.$mainSectionColorWeis;
                    background-color: variables.$mainBgColor;
                }
            }
            h2 {
                font-size: variables.$main-h1Size;
                color: variables.$mainSectionColorGrün;
                font-family: fonts.$fontSantio;
                padding: 5px 0;
            }
        }
        .storyTwo {
            margin-left: 25vw;
            font-size: 24px;
            margin-bottom: variables.$main-margin-bottom;
            p{
                color: variables.$mainSectionColorBlau;
                padding: variables.$main-padding;
                width: 30vw;
                span{
                    color: variables.$mainSectionColorWeis;
                    background-color: variables.$mainBgColor;
                }
            }

        }
    }
    .sectionTwo {
        position: relative;
        height: 200%;
        width: 100vw;
        background-color: rgb(236, 236, 236);
        .see {
            @include mixin.imgSize(100vw,100vh);
        }
        .kids {
            position: absolute;
            bottom: 0;
            right:0%;
            @include mixin.imgSize(100%,100%);
        }
    }

}
footer {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: variables.$mainSectionColorWeis;
    font-family: fonts.$fontInterBold;
    text-transform: variables.$text-transform;
    p{
        width: 130px;
        font-size: variables.$main-h1Size;
        padding: 5% 10%;
    }
    button {
        border: 2px solid white;
        color: white;
        background-color: black;
        padding: 10px;
        margin-left: 10%;
    }
    button:hover {
        box-shadow: 5px 5px 0px white;
    }
}